---
layout: default
---
<div class="home">
  <h1 class="page-heading">Posts in category : {{ page.category }}</h1>
  <ul class="post-list">
    {% for p in site.categories[page.category] %}
      <li>
        <h2><a href="{{ p.url }}">{{ p.title }}</a></h2>
        <p>category : {{ p.category }}</p>
        <p>categories :
          {% if p.categories %}
          <ul>
            {% for c in p.categories %}
              <li>{{ c }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>
</div>
